<main id="root"></main>

<script>
    window.images = {
        stayBnbLogo: "<%=asset_path("Staybnb-logo.png")%>",
        splashPage: "<%=asset_path("splashPage.jpg")%>",
        city1: "<%=asset_path("city1.jpg")%>",
        city2: "<%=asset_path("city2.jpg")%>",
        city3: "<%=asset_path("city3.jpg")%>",
        city4: "<%=asset_path("city4.jpg")%>",
        city5: "<%=asset_path("city5.jpg")%>",
    }
</script>
<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = <%= render(
            "api/users/user.json.jbuilder",
            user: current_user
        ).html_safe %>
    </script>
<% end %>